<a href="https://colab.research.google.com/github/SairaHas/Pythonbasics/blob/main/Python_Basics_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# to display the numbers and sum the digits
a=input("enter the two numbers")
b=input()
print("the first number is:" +a , "the second number is:" + b)

enter the two numbers4
4
the first number is:4 the second number is:4

In [ ]:
sum=int(a)+int(b)
print("the sum is:" + str(sum))

the sum is:8

In [ ]:
# to find the average of two numbers
a=input("enter the two numbers")
b=input()
sum=int(a)+int(b)
average=sum/2
print("the average of the two numbers is " + str(average))

enter the two numbers4
2
the average of the two numbers is 3.0

In [ ]:
# to swap two numbers
a=input("enter the value in a")
b=input("enter the value in b")
t=a
a=b
b=t
print("the value in a is: "+str(a), "the value in b is: "+str(b))

enter the value in a7
enter the value in b5
the value in a is: 5 the value in b is: 7

In [ ]:
#string operations
a="hi,how are you?"
print(len(a))
print(a[0:6])
print(a[0])
print(a[-4:-1])
print(a[:3])
print(a[3:])
print(a[-4:-2])

15
hi,how
h
you
hi,
how are you?
yo

In [ ]:
#strings are immutable, lists are mutable
a=["viseris","drogon","rhaegon"] #representation of lists
print(a)
a[1]="snow"
a=a+["jon","bon"]
print(a)

['viseris', 'drogon', 'rhaegon']
['viseris', 'snow', 'rhaegon', 'jon', 'bon']

In [ ]:
#control statements, if conditions
a=int(input("eneter a number"))
if a>0:
  print("the number is a positive integer")
elif a<0:
  print("the number is a negative integer")
else: 
  print("the number is zero")

eneter a number0
the number is zero

In [ ]:
#to check if the number is even or odd
num=int(input("enter the number"))
if num%2==0:
   print("the number is even")
else:
  print("the number is odd")

enter the number0
the number is even

In [ ]:
#while loop
i=0
while i<=10:
  print(i)
  i=i+1
else: #while loop can also have else case 
  print("the loop is finished")

0
1
2
3
4
5
6
7
8
9
10
the loop is finished

In [ ]:
# to print square pattern of *
n=int(input("enter the number of rows"))
for i in range(n):
  for j in range(n):
    print("*",end='  ')
  print()

enter the number of rows5
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [ ]:
#to check if num is a prime or not
n=int(input("enter the number"))
if n==0 and 1:
  print("number is neither prime nor composite")
elif n%2==0:
  print("the number is prime")  
else:
    print("the number is composite")

enter the number5
the number is composite

In [ ]:
#increasing/right angle triangle pattern
n=int(input("enter the number of rows"))
for i in range(n):
  for j in range(i+1):
    print("*",end='  ')
  print()

enter the number of rows7
*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *
*  *  *  *  *  *  *

In [ ]:
#decreasing triangle pattern
n=int(input("enter the number of rows"))
for i in range(n):
  for j in range(i,n):
    print("*", end='  ')
  print()

enter the number of rows5
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [ ]:
#right sided right triangle
n=int(input("enter the no:of rows"))
for i in range(n):
  for j in range(i,n):
    print(' ',end='  ')
  for j in range(i+1):
     print('*',end='  ')
  print()

enter the no:of rows5
               *
            *  *
         *  *  *
      *  *  *  *
   *  *  *  *  *

In [ ]:
#for printing hill pattern
n=int(input("enter the no:of rows"))
for i in range(n):
  for j in range(i,n):
    print(" ",end =' ')
  for j in range(i):
    print("*", end=' ')
  for j in range(i+1):
    print("*", end=' ')  
  print()

enter the no:of rows5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
# to print pattern of numbers in incresing triangle
n= int(input("enter the number of rows"))
p=1
for i in range(n):
  for j in range (i+1):
    print(p, end=' ')
  p=p+1
  print()

enter the number of rows5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#functions

def hey():
  print("hello!")
hey()

hello!

In [ ]:
def hey(name):
  print("My name is "+ str(name))

VALUE="Saira"
hey(VALUE)

My name is Saira

In [ ]:
# to understand the difference between global and local variable
value=10

def sample():
  value=30 # -->local variable
  print(value)


print(value)  #here the function is not called and hence that code is not executed -->global variable
sample() # here the function is executed --> local variable

10
30